.cardInfo{
    margin-bottom: 24px;
}

.cardInfoTitle{
    text-align: center;
    margin-bottom: 4px;
}

.cardInfoCount{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.card{
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 16px;
}

.inputInner{
    display: flex;
}

.row{
    display: flex;
    margin-bottom: 16px;
}

.input{
    margin-right: 16px;
    height: 40px;
}

.btn{
    height: 40px;
    width: 120px;
}

.fetchInner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tranzInner{
    margin-top: 16px;
}

.tranzTitleInner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 8px;
}

.tranzTitleBtn{
    width: 95px;
    height: 28px;
    font-size: 14px;
}

.inputPayout{
    width: 230px;
}

.inputPayoutInner{
    width: 230px;
    margin-right: 16px;
}

.btnPayout{
    width: 200px;
}

@media (max-width: 450px) {
    .inputInner{
        flex-direction: column;
    }

    .input{
        margin-bottom: 16px;
        width: 100%;
    }
}
