.info{
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.cardInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 2rem 8px 2rem 8px;
}

.cardInfo:nth-child(2n+1){
    margin-right: 16px;
}

.cardInfo:nth-child(2n){
    margin-left: 16px;
}

.fetch{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardInfoTitle{
    text-align: center;
    margin-bottom: 4px;
}

.cardInfoCount{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.cardHeader > div > div:nth-child(2){
    border-top: 1px solid #2f2f2f;
}

.mi{
    margin-bottom: 24px;
}

.miInner{
    display: flex;
}

.progressBar{
    height: 20px;
}

.progressBarDescInner{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressBarDescInner > div {
    font-size: 14px;
}

.cardInfoCval{
    cursor: pointer;
    transition: all 0.3s ease;
    animation-duration: 7s;
    animation-name: showClick;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.cardInfoCval:hover{
    box-shadow: 0 0 10px 0 #9FA8DA !important;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.fastBonusOneTextInner{
    display: flex;
    flex-flow: row nowrap;
}

.fastBonusOneText{
    margin-bottom: 8px;
}

.fastBonusOneText2{
    font-size: 14px;
    color: #8d8d8d;
}

.fastBonusOneText2 > span{
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
}

.bonusItemImg{
    width: 120px;
    height: 120px;
}

.timeText{
    font-size: 28px;
    font-weight: bold;
}

.fastBonusTwo, .fastBonus3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.fastBonusTwoRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.fastBonusTwoPerson, .fastBonusTwoPersonError{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.fastBonusTwoPerson > i {
   color: #8a8a8a;
}

.fastBonusTwoPersonError > i{
    color: #ce5858;
}

.fastBonusTwoPersonActive > i {
    color: #58ce70;
}

.card{
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 16px;
}

.headerCval{
    background: #404040;
}

.CvalItem{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 16px;
}

.CvalItemProgressText{
    margin-bottom: 4px;
}

.CvalItemNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #9FA8DA;
    margin-right: 16px;
}

.CvalItemProgressInner{
    width: calc(100% - 56px);
}

.priz{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.cardInfoCvalIcon{
    position: absolute;
    top: 8px;
    right: 8px;
}

.cardInfoCvalIcon > i{
    color: #FFFFFF;
    font-size: 24px;
}

.surpInner{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.surpBtn{
    height: 32px;
    width: 100px;
}

@keyframes showClick {
    0% {
        box-shadow: none;
    }

    15% {
        box-shadow: 0 0 10px 0 #9FA8DA;
    }

    30% {
        box-shadow: none;
    }

    100% {
        box-shadow: none;
    }
}

@media (max-width: 450px) {
    .card{
        margin-top: 32px;
    }

    .back{
        position: absolute;
        top: 38px;
        right: 0;
    }
}

@media (max-width: 342px) {
    .cardInfoTitle{
        font-size: 14px;
    }

    .cardInfoCount{
        font-size: 16px;
    }
}
