.info{
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.cardInfo{
    width: 50%;
}

.cardInfo:nth-child(2n+1){
    margin-right: 32px;
}

.cardInfoTitle{
    text-align: center;
    margin-bottom: 4px;
}

.cardInfoCount{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.cardHeader > div > div:nth-child(2){
    border-top: 1px solid #2f2f2f;
}
