.header{
    height: 100px;
    background-color: black;
}

.headerInner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container{
    padding: 0 24px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.logoInner{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.logoImg{
    margin-right: 20px;
}

.logoTitle{
    font-family: Open_Sans_SemiBold, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.nav{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.navLink{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open_Sans_Regular, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-right: 60px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease;
}

.navLink:hover{
    border-bottom: 4px solid #FFFFFF;
}

.navLink:last-child{
    margin-right: 0;
}

.lkInner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.intro{
    padding: 82px 0 16px 0;
    background: url("../Images/Other/BackgroundMain.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.introInner{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.introCol1{
    padding-top: 32px;
    margin-right: 66px;
}

.introCol2{
    position: relative;

}

.introTitle{
    max-width: 500px;
    font-family: Open_Sans_ExtraBold, sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 100px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.introDesc{
    font-style: normal;
    font-size: 18px;
    line-height: 33px;
    color: #A39F9F;
    max-width: 440px;
    margin-bottom: 48px;
}

.introImg{
    border-radius: 50px;
    width: 578px;
    height: 603px;
}

.introCard{
    background-color: #FCFCFC;
    border-radius: 8px;
    box-shadow: 10px 20px 24px rgba(63, 88, 221, 0.1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 315px;
    height: 90px;
    padding: 0 10px 0 22px;
}

.introCardImg{
    margin-right: 16px;
}

.introCardText{
    font-family: Open_Sans_Bold, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #404040;
}

.introCard1, .introCard2{
    position: absolute;
}

.introCard1{
    top: 138px ;
    left: -124px;
}

.introCard2{
    bottom: 74px;
    right: -56px;
}
