.body{
    background: #000000;
    background-image: url("../Images/Other/BackgroundNewLanding-min.jpg");
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
    overflow: hidden;
}

.body2{
    background: #000000;
    background-image: url("../Images/Other/bg2-min.jpg");
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
    overflow: hidden;
}

.container{
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero{
}

.heroTitleInner{
    width: 100%;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.heroTitle{
    font-family: Druk_Text_Wide_CyBold,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3.24703px 3.24703px rgba(0, 0, 0, 0.25);
}

.heroTitle:nth-child(2){
    align-self: center;
}
.heroTitle:nth-child(3){
    align-self: flex-end;
}

.btnStart{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 134px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 9999px;
    margin-right: 74px;
    transition: all 0.2s ease ;
}

.btnStart:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 35px #FFFFFF;
    color: #0003FF;
}

.heroInfoDesc{
    width: 254px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 21px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 187px;
}

.heroInfo{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 70px;
}

.heroInfoCardImg{
    margin-right: 24px;
}

.heroInfoCardImg:last-child{
    margin-right: 0;
}

.line{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.infoTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 650px;
    margin-bottom: 68px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 87px 0 108px;
}

.infoCards{
    display: flex;
    position: relative;
    margin-bottom: 113px;
}

.infoCard{
    width: 305px;
    height: 493px;
    background: linear-gradient(180deg, rgba(27, 0, 179, 0.5) 0%, rgba(11, 0, 89, 0.5) 100%);
    backdrop-filter: blur(11.4163px);
    border-radius: 19.8084px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 22px;
}

.infoCard:last-child{
    margin-right: 0;
}

.infoCardImg{
    margin-top: 40px;
    margin-bottom: 60px;
}

.infoCardText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.lineAB{
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    top: -23px;
}

.lineABS{
    position: absolute;
    width: calc(100% - 104px);
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    bottom: 48px;
}

.lineA{
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    bottom: -43px;
}

.InfoDesc{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 42px;
    /* identical to box height, or 126% */

    text-align: center;
    letter-spacing: 0.416667px;

    color: #FFFFFF;
    margin-bottom: 8px;
}

.InfoDescMini{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 21px;
    line-height: 27px;
    /* identical to box height, or 131% */

    text-align: center;

    color: #FFFFFF;

    opacity: 0.7;
}

.clientsHeader{
    padding-top: 68px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

.clientsHeaderTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    width: 640px;
    color: #FFFFFF;
}

.clientsHeaderLogo{
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #E2E2E2;
    user-select: none;
}

.clients{
    display: flex;
    justify-content: center;
}

.clientsCards{
    width: 100%;
    max-width: 960px;
    padding: 43px 0 51px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 215px 275px 215px;
    justify-items: stretch;
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}

.clientsCard{
    position: relative;
    background-color: #eeeeee;
    border: 1px solid rgba(255, 255, 255, 0.7);;
    border-radius: 10px;
}

.clientsCard1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #9600FF;
}

.clientsCard2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url("../Images/Other/Clinet2.jpg");
}

.clientsCard3{
    background: #0003FF;
    background-image: url("../Images/Other/Client3.png");
}

.clientsCard4{
    background: #00B817;
}

.clientsCard5{
    background: #0003FF;
    grid-column-start: 1;
    grid-column-end: 3;
}

.clientsCard6{
    background: #EB01FF;
}

.clientsCardNumber{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    left: 16px;
}

.clientsCardText{
    position: absolute;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 20.6035px;
    line-height: 105%;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 16px;
}

.clientsCardNumber1{
    top: 254px;
}

.clientsCardImg1{
    position: absolute;
    top: 34px;
    right: 6px;
}

.clientsCardText1{
    top: 405px;
}

.clientsCardText2{
    top: 56px;
}

.clientsCardText3{
    top: 168px;
    width: 150px;
}

.clientsCardText4{
    top: 168px;
}

.clientsCardImg4{
    position: absolute;
    top: 24px;
    right: 29px;
}

.clientsCardText5{
    top: 138px;
    width: 322px;
}

.clientsCardImg5{
    position: absolute;
    top: 0;
    right: 19px;
}

.clientsCardText6{
    top: 138px;
    width: 230px;
}

.clientsCardImg6{
    position: absolute;
    top: 15px;
    right: 27px;
}

.about{
    padding: 55px 90px 71px 90px;
    display: flex;
    justify-content: space-between;
}

.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 83px;
}

.aboutImg{
    border-radius: 10px;
}

.aboutContentTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.aboutContentDesc{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 18px;
    width: 468px;
}

.aboutContentStatus{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    color: #5F5656;
    margin-bottom: 2px;
}

.aboutContentName{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.ContactUs{
    padding: 82px 0 86px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactUsTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
    color: #FFFFFF;
    margin-bottom: 37px;
    width: 637px;
}

.ContactUsCards{
    display: grid;
    grid-template-columns: 466px 466px;
    grid-template-rows: 192px 192px 192px;
    justify-items: stretch;
    grid-column-gap: 24px;
    grid-row-gap: 22px;
    margin-bottom: 61px;
}

.ContactUsCard{
    padding: 16px 16px 16px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.ContactUsCard1{
    background: linear-gradient(180deg, #FF00F5 0%, #0103FF 320.83%);
    border: 1px solid #FFFFFF;
}

.ContactUsCard2{
    background: linear-gradient(180deg, #FF00F5 -109.9%, #0103FF 213.02%);
    border: 1px solid #FFFFFF;
}

.ContactUsCard3{
    background: linear-gradient(180deg, #FF00F5 -221.09%, #0103FF 100%);
    border: 1px solid #FFFFFF;
}

.ContactUsCardText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 30px;
}

.btnContactUs{
    background: #FFFFFF;
    border-radius: 10px;
    width: 241px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4561px;
    line-height: 21px;
    text-transform: capitalize;
    box-shadow: 0px 0px 17px #FFFFFF;
    color: #3300FE;
}

.endHeaderText{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 106px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3.24703px 3.24703px rgba(0, 0, 0, 0.25);
}

.endHeader{
    padding: 42px 95px 26px 95px;
}

.endHeaderText:last-child{
    margin-left: 268px;
    margin-top: -24px;
}

.end{
    display: flex;
    width: 100%;
}

.endCol1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 393px;
    width: 60%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);;
}

.endCol2{
    height: 393px;
    width: 40%;
    padding: 45px 0 45px 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnEndSignUp{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.46px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 302px;
    height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 9999px;
    margin-right: 74px;
    transition: all 0.2s ease ;
}

.btnEndSignUp:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 35px #FFFFFF;
    color: #0003FF;
}

.endText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 21px;
    line-height: 20px;
    color: #FFFFFF;
    width: 299px;
}

.endLogo{
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #E2E2E2;
    user-select: none;
}


.oneHeader{
    padding: 52px 0 47px 0;
}

.oneHeader1{
    display: flex;
    justify-content: center;
    margin-left: 420px;
}
.oneHeader2{
    display: flex;
    justify-content: center;
    margin-right: 350px;
}

.oneHeaderText{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 106px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3.24703px 3.24703px rgba(0, 0, 0, 0.25);
}

.oneHeaderTextOut{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 106px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
}

.one{
    padding-top: 14px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.oneCard{
    background: rgba(235, 1, 255, 0.1);
    box-shadow: inset 46.4px -46.4px 46.4px rgba(178, 1, 194, 0.1), inset -46.4px 46.4px 46.4px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(92.8px);
    border-radius: 20px;
    width: 100%;
    height: 432px;
    max-width: 960px;
    margin-bottom: 21px;
    border: 1px solid #FFF;
    padding: 30px 37px 27px 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.oneCardContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

.oneCardTitleInner{
    border: 1px solid #FFF;
    padding: 14px 12px;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 7px;
}

.oneCardTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.oneCardTitleImg{
    width: 120px;
    height: 35px;
}

.locks{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.lockRow{
    display: flex;
    justify-content: space-between;

    max-width: 960px;
}

.locksPlatinum{
    position: relative;
    top: -44px;
    right: 4px;
}

.two{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 114px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.twoCard{
    position: relative;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 232px;
    height: 510px;
    padding: 24px 14px 0 14px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.twoCardNumber{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.twoCardLine{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 15px;
}

.twoCardText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20.6035px;
    line-height: 105%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.twoCardImg{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.twoCardText2{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 99%;
    color: #FFFFFF;
}

.make{
    width: 100%;
    padding-top: 64px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
}

.makeTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 62px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.makeText{
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 31px;
}

.bonus{
    padding-top: 33px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.bonusItem{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 6.53226px;
    height: 78px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 16px;
    position: relative;
    width: 560px;
    margin-bottom: 32px;
}

.bonusItemNumber{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48.3387px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 32px;
}

.bonusItemText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20.9032px;
    line-height: 18px;
    color: #FFFFFF;
}

.bonusItemImg{
    position: absolute;
    right: -32px;
    bottom: 0;
}

.download{
    padding-top: 33px;
    padding-bottom: 38px;
    display: flex;
    justify-content: flex-end;
}

.downloadText{
    font-family: Inter, sans-serif;
    width: 564px;
    font-style: normal;
    font-weight: 600;
    font-size: 20.9032px;
    line-height: 18px;
    color: #FFFFFF;
}

.downloadBtn{
    background: #FFFFFF;
    border-radius: 10px;
    width: 564px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.downloadBtnText{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4561px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #3300FE;
    margin-right: 23px;
}

.money{
    padding-top: 64px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moneyTitle{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 62px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.moneyImg{
    margin-left: 32px;
}

.end2{
    position: relative;
    padding-top: 55px;
}

.end2Title{
    font-family: Druk_Text_Wide_CyBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 62px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 81px;
}

.end2footer{
    position: relative;
    z-index: 3;
}

.btnEndSignUp2{
    background: rgba(196, 196, 196, 0.134);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(63.8px);
}

.end2BGImg{
    position: absolute;
    z-index: 2;
    bottom: -473px;
    right: -103px;
    /*filter: brightness(130%) contrast(130%) ;*/
}

@media (max-width: 450px) {
    .heroTitle{
        font-size: 32px;
        line-height: 40px;
    }

    .heroInfo{
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
    }

    .heroInfoDesc{
        text-align: center;
        order: -1;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .btnStart{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .heroRow{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }

    .infoTitle{
        font-size: 24px;
        width: 100%;
    }

    .infoCards{
        flex-flow: column;
        margin-bottom: 0;
    }

    .infoCard{
        margin-bottom: 48px;
        margin-right: 0;
    }

    .heroInfoCardImg{
        width: 45%;
    }

    .clientsHeaderTitle{
        font-size: 24px;
    }

    .clientsCards{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 90px 160px 160px 160px;
        justify-items: stretch;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .clientsCard img {
        width: 100%;
    }

    .clientsCardNumber1{
        top: 16px;
    }

    .clientsCardText1{
        top: auto;
        left: 4px;
        bottom: 24px;
        font-size: 10px;
    }

    .clientsCard2{
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .clientsCard2{
        background-size: cover;
    }

    .clientsCard3{
        background-size: cover;
    }

    .clientsCardText3{
        top: auto;
        bottom: 24px;
    }

    .clientsCard4{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .clientsCardImg4{
        width: 60% !important;
        right: 16px;
    }

    .clientsCardText4{
        top: auto;
        bottom: 24px;
        font-size: 16px;
    }

    .clientsCard5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .clientsCardImg5{
        width: 40% !important;
        height: 100%;
        right: 0;
    }

    .clientsCardText5{
        top: auto;
        bottom: 24px;
        font-size: 12px;
        width: 165px;
    }

    .clientsCardImg6{
        width: 50% !important;
        right: 16px;
    }

    .clientsCardText6{
        top: auto;
        bottom: 24px;
        font-size: 14px;
    }

    .about{
        flex-flow: column;
        padding: 55px 0 71px 0;
    }

    .aboutContent{
        width: 100%;
    }

    .aboutContentDesc{
        margin-bottom: 16px;
        text-align: center;
        width: 100%;
    }

    .aboutContentRow2{
        margin-top: 8px;
    }

    .aboutContentStatus{
        color: #FFF;
    }

    .ContactUsTitle{
        width: 100%;
        font-size: 22px;
    }

    .ContactUsCards{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .ContactUsCard{
        padding: 8px;
        width: 100%;
    }

    .ContactUsCardText{
        font-size: 14px;
        margin-top: 0;
        margin-right: 4px;
    }

    .ContactUsCardImg{
        width: 100px;
        height: 100px;
    }

    .endHeader{
        padding: 42px 0 26px 0;
    }

    .endHeaderText{
        font-size: 28px;
        width: 100%;
        line-height: 34px;
    }

    .endHeaderText:last-child{
        text-align: end;
        margin-top: 0;
        margin-left: 0;
    }

    .end{
        flex-flow: column;
        align-items: center;
    }

    .endText{
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
    }

    .btnEndSignUp{
        width: 200px;
        height: 200px;
        font-size: 14px;
        margin: 0;
        margin-bottom: 32px;
    }

    .oneHeaderText{
        font-size: 24px;
        line-height: 32px;
    }

    .oneHeaderTextOut{
        font-size: 24px;
        line-height: 32px;
    }

    .oneHeader1{
        width: 100%;
        margin-left: 32px;
    }

    .oneHeader2{
        width: 100%;
        margin-right: 64px;
    }

    .oneCard{
        flex-flow: column;
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .oneCardContent{
        margin-right: 0;
        margin-bottom: 8px;
    }

    .oneCardTitleInner{
        padding: 8px;
        width: 100%;
        margin-bottom: 8px;
    }

    .oneCardTitle{
        font-size: 14px !important;
        line-height: 16px;
    }

    .oneCardTitleImg{
        width: 80px;
        height: 20px;
    }

    .lockRow{
        flex-flow: column;
    }

    .lockRow img {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 16px;
    }

    .locksPlatinum{
        width: 112%;
        top: -18px;
        right: 1px;
    }

    .clientsHeaderTitle{
        font-size: 28px !important;
        line-height: 36px !important;
    }

    .two{
        flex-flow: row wrap;
        padding: 32px 0 !important;
    }

    .twoCard{
        width: 48%;
        height: 310px;
        margin-bottom: 16px;
    }

    .twoCardImg{
        width: 70%;
        top: 32px !important;
    }

    .twoCardText, .twoCardText2{
        font-size: 14px !important;
    }

    .makeTitle{
        font-size: 24px;
        line-height: 32px;
    }

    .makeText{
        font-size: 18px;
        line-height: 28px;
    }

    .bonusItem{
        width: 100% !important;
        margin-left: 0 !important;
    }

    .bonusItemNumber{
        font-size: 28px;
        margin-right: 16px;
    }

    .bonusItemText{
        font-size: 12px;
        width: 200px;
    }

    .bonusItemImg{
        width: 30%;
    }

    .bonus{
        padding-bottom: 32px;
    }

    .moneyTitle{
        font-size: 28px;
        line-height: 34px;
    }

    .moneyImg{
        width: 100%;
    }

    .endCol1{
        width: 100%;
        border: none;
        height: 200px;
    }

    .end2Title{
        width: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 64px;
    }

    .end2BGImg{
        z-index: 0;
        width: 120%;
        bottom: -288px;
        right: -17px;
    }

    /*.body{
        background-size: cover;
    }

    .body2{
        background-size: cover;
    }*/
}
