.card > div > div{
    padding: 0 !important;
}

.card{
    margin-bottom: 16px;
}

.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.arrow{
    cursor: pointer;
}
