.card{
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 16px;
}

.inputInner{
    margin-bottom: 32px;
}

.input{
    width: 100%;
}

.dropDown{
    margin-bottom: 32px;
    width: 100%;
}

.btn{
    margin-top: 32px;
    width: 100%;
}

.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.payouts{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.payout{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    margin-bottom: 16px;
}

.payoutFIO{
    margin-bottom: 8px;
}

.payoutEmail{
    margin-bottom: 16px;
}

.payoutCard{
    font-size: 20px;
    font-weight: bold;
}

.payoutDate{
    font-size: 14px;
}

.payoutCol2{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.payoutPrice{
    font-weight: bold;
}

.payoutBtn{
    height: 32px;
    width: 100px;
}

.payoutBtn:first-child{
    margin-right: 16px;
}
